<mat-sidenav-container>
  <mat-sidenav-content>
    <mat-toolbar *ngIf="afAuth.authState | async">
      <span class="logo" routerLink="/"><span title="home"><i class="withText">📔</i></span>Kanban Journal</span>
      <span class="fill-remaining-space"></span>
      <app-create-page></app-create-page>
      <button title="find" mat-button [matMenuTriggerFor]="menuFind">
        <i class="nav">🔎</i>
      </button>
      <mat-menu #menuFind="matMenu" xPosition="before">
        <!-- TODO - add search and recently open pages -->
      </mat-menu>
      <button title="important" mat-button [matMenuTriggerFor]="menuImp">
        <i class="nav">🔖</i>
      </button>
      <mat-menu #menuImp="matMenu" xPosition="before">
        <!-- TODO - add bookmared (important) pages -->
      </mat-menu>
      <button title="fun" mat-button [matMenuTriggerFor]="menuFun">
        <i class="nav">💛</i>
      </button>
      <a routerLink="page/ZPCksqpXEelK3l1Dq9HM">🐷</a>
      <a routerLink="page/jD5Bbq0ZI6Q0ebUXdSqn">🐔</a>
      <mat-menu #menuFun="matMenu" xPosition="before">
        <!-- TODO - add bookmared (loved) pages -->
      </mat-menu>
      <button mat-icon-button [matMenuTriggerFor]="menuSide">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menuSide="matMenu">
        <button mat-menu-item><span><i class="withText">👶</i>Me</span></button>
        <button mat-menu-item><span><i class="withText">💿</i>Archive</span></button>
        <button mat-menu-item (click)="logout()"><span><i class="withText">👋</i>Logout</span></button>
      </mat-menu>
    </mat-toolbar>
    <mat-toolbar  *ngIf="(afAuth.authState | async) === null">
      <!-- <span class="fill-remaining-space"></span> -->
      <span class="logo" routerLink="/"><span title="home"><i class="withText">📔</i></span>Kanban Journal</span>
      <span class="fill-remaining-space"></span>
      <a mat-button title="login" routerLink="/login"><i class="nav">🔑</i></a>
    </mat-toolbar>
    <ng-content></ng-content>
    <footer *ngFor="let theme of themes">
      <button class="changeTheme" mat-icon-button *ngIf="themeService.currentActive() !== theme.name"
        (click)="setTheme(theme.name)">
        <i class="theme" [title]="theme.title">{{ theme.icon }}</i>
      </button>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>