<p class="title"> {{title}} </p>
<div>
    <div cdkDropList cdkDropListOrientation="horizontal" class="page" (cdkDropListDropped)="drop($event)">
        <app-board cdkDrag *ngFor=" let board of boards" [board]="board" [pageBoards]="boards" [pageId]="id">
            <mat-icon cdkDragHandle class="handle">drag_indicator</mat-icon>
        </app-board>
        <div class="board-container">
            <button cdkDragDisabled class="board-btn" mat-raised-button color="accent" (click)="openBoardDialog()">
                New Board
            </button>
        </div>
    </div>
</div>