// span {
//     cursor: pointer;
//   }

// .first-image {
//   background-image: url("/assets/texture5.jpg");
//   background-color: #cccccc;
//   height: 570px;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size:  cover;
//   position: relative;
// }

// .container {
//     background-color: rgb(240, 216, 220);
//     width: 98%;
//     height: 83.5%;
//     background-position: center !important;
//     background-repeat: no-repeat;
//     background-size:  cover;
//     position: absolute !important;
//   } 

button.int {
    background-color: rgb(164, 184, 236);
    position: absolute;
    width: 160px;
    height: 320px;
    left: 13%;
    top: 9%;
    // padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    // margin: 4px 2px;
}

button.sec {
    background-color: rgb(122, 156, 241);
    position: absolute;
    width: 160px;
    height: 320px;
    // padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    // margin: 4px 2px;
    left: 25.5%;
    top: 9%;
}

button.clean {
    position: absolute;
    background-color: rgb(68, 100, 182);
    position: absolute;
    width: 160px;
    height: 320px;
    // padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    // margin: 4px 2px;
    left: 38%;
    top: 9%;
}

button.think {
    position: absolute;
    left: 79.5%;
    top: 12%;
}

button.feel {
    position: absolute;
    left: 54%;
    top: 12.5%;
}

button.org {
    position: absolute;
    left: 67%;
    top: 78%;
}

i.home {
    font-style: normal;
    font-size: 2em;
  }