<mat-card>
    <div class="first-image">
        <span>
            <h1 class="int">intuitive</h1>
        </span>
        <span>
            <h1 class="sec">secure</h1>
        </span>
        <span>
            <h1 class="clean">clean</h1>
        </span>
        <button class="think" title="think" mat-icon-button>
            <i class="home">💭</i>
        </button>
        <button class="feel" title="feel" mat-icon-button>
            <i class="home">🎭</i>
        </button>
        <button class="org" title="organize" mat-icon-button>
            <i class="home">📅</i>
        </button>
    </div>
</mat-card>