<!-- <div class="inner-card" (click)="openTaskDialog(task, index)">
    <mat-card [ngClass]="task.color">
        <span class="important" *ngIf="task.important">*</span>
        <button class="mat-mini-fab" [ngClass]="task.type" (click)="checkTask(task)"></button>
        <span>{{ task.description }}</span>
    </mat-card>
</div> -->

<mat-card [ngClass]="task.color">
    <span class="important" *ngIf="task.important">*</span>
    <button class="mat-mini-fab" [ngClass]="task.type" (click)="checkTask(task)"></button>
    <span>{{ task.description }}</span>
</mat-card>