
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$custom-orange: (
    50: #fff3e0,
    100: #ffe0b2,
    200: #ffcc80,
    300: #ffb74d,
    400: #ffa726,
    500: #ff9800,
    600: #fb8c00,
    700: #f57c00,
    800: #ef6c00,
    900: #e65100,
    A100: #ffd180,
    A200: #ffab40,
    A400: #ff9100,
    A700: #ff6d00,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700: white,
    )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$kanban-journal-primary: mat-palette($custom-orange);
$kanban-journal-accent: mat-palette($mat-green, A200, A100, A400);

// The warn palette is optional (defaults to red).
$kanban-journal-warn: mat-palette($custom-orange);

// Create the theme object (a Sass map containing all of the palettes).
$kanban-journal-theme: mat-dark-theme($kanban-journal-primary, $kanban-journal-accent, $kanban-journal-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($kanban-journal-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.light-theme {
  color: $dark-primary-text;
  $light-primary: mat-palette($custom-orange);
  $light-accent: mat-palette($mat-amber, A400, A100, A700);
  $light-warn: mat-palette($custom-orange);
  $light-theme: mat-light-theme($kanban-journal-primary, $kanban-journal-accent, $kanban-journal-warn);

  @include angular-material-theme($light-theme);
}
