@import "src/app/shared/perfect-scrollbar.component.scss";

p {
  margin-bottom: 2px;
}

h4 {
  margin-top: 8px;
  margin-bottom: 10px;
}

.container {
  height: 200px;
  width: 100%;
}

.template-radio-btn {
  margin-right: 150px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.content {
  overflow: hidden;
  height: auto;
  padding: 20px;
  width: 100%;
}

mat-form-field {
  width: 100%;
}

textarea {
  display: block;
  width: 100%;
}

button.templ-preview {
  width: 2em !important;
  height: 2em !important;
}

i {
  font-style: normal;
  font-size: 1em;
  margin: 2px;
}

i.larger {
  font-style: normal;
  font-size: 1.2em;
  margin: 2px;
}

i.larger-2 {
  font-style: normal;
  font-size: 1.1em;
  margin: 2px;
}
