p {
  margin-bottom: 0px;
}

h4 {
  margin-bottom: 10px;
}

.container {
  height: 200px;
  width: 100%;
}

.template-radio-btn {
  margin-right: 150px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.content {
  overflow: hidden;
  height: auto;
  padding: 20px;
  width: 100%;
}

mat-form-field {
  width: 100%;
}

textarea {
  display: block;
  width: 100%;
}

button.templ-preview {
  height: 2em !important;
  width: 2em !important;
  // padding: 2px !important;
  background-color:  #d7dcdf5e !important;
}

i {
  font-style: normal;
  font-size: 1em;
  margin: 2px;
}
