<mat-card class="outer-card">
  <mat-card-header>
    <!-- Place for the drag handle -->
    <ng-content></ng-content>
    <mat-card-title class="title">
      {{ board.title }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <div cdkDropList id={{board.id}}
        [cdkDropListData]="board.tasks" class="tasks" cdkDropListOrientation="vertical"
        (cdkDropListDropped)="taskDrop($event)"
        [cdkDropListConnectedTo]="getConnectedList()">
        <app-task cdkDrag *ngFor="let task of board.tasks; let i = index" [task]="task" [index]="i">
        </app-task>
      </div>
  </mat-card-content>
</mat-card>