<mat-card class="outer-card">
  <mat-card-header>
    <!-- Place for the drag handle -->
    <ng-content></ng-content>
    <mat-card-title class="title">
      {{ board.title }}
    </mat-card-title>
  </mat-card-header>
  <div cdkDropList class="tasks" id={{board.id}} [cdkDropListData]="board.tasks" cdkDropListOrientation="vertical"
    (cdkDropListDropped)="taskDrop($event)" [cdkDropListConnectedTo]="getConnectedList()">
    <div cdkDrag class="inner-card" *ngFor="let task of board.tasks; let i = index" (click)="openTaskDialog(task, i)">
      <app-task [task]="task" [index]="i" [board]="board" [pageId]="pageId">
      </app-task>
    </div>
  </div>
  <button mat-stroked-button (click)="openTaskDialog()">
    <mat-icon>add</mat-icon>
  </button>
  <app-delete-button (delete)="handleDelete()">
  </app-delete-button>
</mat-card>