.outer-card {
    margin: 10px;
    min-width: 280px;
    max-width: 280px;
    min-height: 460px;
    padding: 10px;
}

.title{
    font-family: "note_thisregular", Roboto, "Helvetica Neue", sans-serif;
}